.intro__title, .slider__item-title, .prizes__title,
.rules__title, .game__title, .intro__date {
  .text__string {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  .text__string > span {
    display: inline-block;
    transform: translate3d(0, 14rem, 0);
    margin: 0;
    padding: 0;
    }

  &.accent-typography--active {
    .text__string > span {
      transform: translate3d(0, 0.2rem, 0);
      }
  }
}

.intro__title {
  &.accent-typography--active {
    .text__string:nth-child(1) > span {
      transform: translate3d(0, 1.5rem, 0);
    }
  }
}
