.screen.screen--show {
  .result--prize {
    .result__image {
      img {
        &:nth-child(1) {
          width: 20%;
          z-index: 2;
          opacity: 0;
          transform: translate(-100px, 290px) rotate(-20deg);
          animation-name: show-flamingo;
          animation-duration: 4s;
          animation-timing-function: ease-in;
          animation-delay: 2s;
          animation-fill-mode: forwards;
        }

        &:nth-child(2) {
          z-index: 1;
          transform: translate(-40px, 240px) scale(0);
          animation-name: show-suitcase;
          animation-duration: 4s;
          animation-timing-function: ease-in;
          animation-delay: 2s;
          animation-fill-mode: forwards;
        }

        &:nth-child(3) {
          width: 20%;
          transform: translate(130px, 25px) rotate(0deg);
        }

        &:nth-child(4) {
          width: 20%;
          transform: translate(-140px, 60px) rotate(20deg);
        }

        &:nth-child(5) {
          width: 25%;
          transform: translate(140px, 70px) rotate(-20deg);
        }
      }
    }
  }
}
