@keyframes show-bullet {
  to {
    transform: scale(1);
  }
}

@keyframes grow-width-btn {
  0% {
    width: 40%;
    opacity: 1;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes show-suitcase {
  70% {
    transform: translate(-40px, 70px) scale(0.3);
  }

  100% {
    transform: translate(-40px, 90px) scale(0.3);
  }
}

@keyframes show-flamingo {
  to {
    opacity: 1;
    transform: translate(-110px, 110px) rotate(0deg);
  }
}
