$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-dark-transparent: rgba(95, 69, 140, 0);
$c-dark-translucent: rgba(95, 69, 140, 0.5);
$c-blue: #4b75da;
$c-lightblue: #9ec0e7;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$timing-function-onload: cubic-bezier(0.22, 0.65, 0.5, 1);
